.profile-container{
    >div:first-child{
        height:0;
        font-size:0;
        padding-bottom:75%;
        img{
            width:100%;
        }
    }
    >div:last-child{
        background: red;
        height:200px;
    }
}